
  <% if Helpers.is_logged_in?(session) %>
  <form action='/tweets' method="post">
    <h2>Content:</h2>
    <input type="text" name="content"><br>
    <h2>Create Your Tweet:</h2>

    <input type="submit" name="submit" id="submit">

    <input type="submit" name="submit">


  </form>


<% else %>
<h2> You must be logged in to make tweets <h2>
<% end %>