<!doctype html>
<html>
  <head>
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
  body {background-color: White;
  font-family: 'Courier New', monospace;}
  h1 {color: DarkOliveGreen;
  font-family: 'Palette Mosaic', cursive;
  font-size: 96px;}
  h2 {color: DarkOliveGreen;}
  h3 {color: DarkOliveGreen;}
  a {color: GoldenRod;}
  title {color: DarkOliveGreen;}
  li {color: DarkOliveGreen;}
  input {font-family: 'Courier New', monospace;}

  </style>
    <title>FWITTER</title>
  </head>
  <body>

    <div class="container">
      <h1>FWITTER</h1>
    <%= yield %>
    </div>

  </body>
</html>
